header{
        display: flex;
        height: 100px;
        width: 100;
        background-color: #AEA0D0;
        padding: 70px;
        justify-content: space-between; 
    }
    .log {
        display: flex;
        align-items: center;
    }
    .log img{
        height: 50px;
        margin-right: 10px  ;
    }
    /* .nav-item{
        background-color: yellow;
    } */