header{
        display: flex;
        height: 70px;
        width: 100%;
        background-color: #AEA0D0;
        padding: 30px;
        justify-content: space-between;

    }
    .log {
        display: flex;
        align-items: center;
        
    }
    .log img{
        height: 50px;
        margin-right: 10px  ;
        
    }

    .nav-item.dropdown{
        border-radius:20%;
        background: #fff;
        border: 2px solid #845fbe;
    }

    .dropdown-menu.dropdown-menu-end{
        border-radius: 13px;
        background: #C7B8EA;
        padding:10px 0px 10px 5px;
        text-align: center;
        border: 2px solid #845fbe;
    }
    a.dropdown-item{
        background: #C7B8EA;
    }

